<ul>
	{% for blog in blogs %}
	<li>
		<article>
			<p style="float:right"><i>Published at {{ moment(blog.created_at).fromNow() }}</i></p>
			<p><h3><a href="{{ url_for('main.blog', id=blog.id) }}">{{ blog.title }}</a></h3></p>
			<p>
			{% for tag in blog.tags %}
				<span class="label label-info label-sm">{{ tag.name }}</span>
			{% endfor %}
			</p>
			<p>{{ blog.summary }}</p>
			<p>
				<a href="{{ url_for('main.blog', id=blog.id) }}" class="btn btn-primary btn-xs">read more</a>
				{% if current_user.is_administrator() %}
				<a href="{{ url_for('main.blog_edit', id=blog.id) }}" class="btn btn-info btn-xs">edit</a>
				<a href="{{ url_for('main.blog_delete', id=blog.id) }}" class="btn btn-danger btn-xs">delete</a>
				{% endif %}
			</p>
		</article>
		<hr>
	</li>
	{% endfor %}
</ul>
			
