<ul class="comments">
	{% for comment in comments %}
	<li class="comment">
		<div class="comment-thumbnail">
			<a href="{{ url_for('main.profile', username=comment.author.user_name) }}">
				<img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
			</a>
		</div>
		<div class="comment-content">
			<div class="comment-date">
				{{ moment(comment.created_at).fromNow() }}
			</div>
			<div class="comment-author">
				<a href="{{ url_for('main.profile', username=comment.author.user_name) }}">
					{{ comment.author.user_name }}
				</a>
			</div>
			<div class="comment-body">
				{% if comment.disabled %}
				<p><i>This comment has been disabled by a moderator.</i></p>
				{% endif %}
				{% if current_user.can(Permission.MODERATE_COMMENTS) or not comment.disabled %}
					{% if comment.body_html %}
						{{ comment.body_html | safe }}
					{% else %}
						{{ comment.body }}
					{% endif %}
				{% endif %}
			</div>
			{% if current_user.can(Permission.MODERATE_COMMENTS) %}
				<br>
				{% if comment.disabled %}
				<a href="{{ url_for('main.comment_enabled', id=comment.id, page=pagination.page) }}">
					<span class="label label-primary">Enable</span>
				</a>
				{% else %}
				<a href="{{ url_for('main.comment_disabled', id=comment.id, page=pagination.page) }}">
					<span class="label label-danger">Disable</span>
				</a>
				{% endif %}
			{% endif %}
			{% if current_user == comment.author and not comment.disabled %}
			<a href="{{ url_for('main.comment_delete', id=comment.id, local=local) }}">Delete</a>
			{% endif %}
		</div>
	</li>
	{% endfor %}
</ul>