{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}{{ super() }} - {{ blog.title }}{% endblock %}
{% block page_content %}
<div class="page-header">
	<h2>{{ blog.title }}</h2>
</div>
<p id="tag_labels">
{% for t in tags %}
	<span class="label label-info label-sm">{{ t.name }}</span>
{% endfor %}
</p>
<p>{% if blog.body_html %}{{ blog.body_html | safe }}{% else %}{{ blog.body }}{% endif %}</p>
<br>
<p style="float:left"><i>Published at {{ moment(blog.created_at).format('L') }}</i></p>
<p style="float:right"><i>Last edited at {{ moment(blog.last_edit).fromNow() }}</i></p> 
<hr>
{% if current_user.is_authenticated %}
<p><a href="#" class="btn btn-primary btn-sm" id="tags">add tags</a></p>
{% endif %}
{% if current_user.is_authenticated %}
<p style="text-align:right">
	<a href="{{ url_for('main.blog_like', id=blog.id) }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="bagde">{{ blog.liked.count() }}</span></a>
	<a href="{{ url_for('main.blog_dislike', id=blog.id) }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-thumbs-down"></span> <span class="bagde">{{ blog.disliked.count() }}</span></a>
	{% if current_user == blog.author %}
	<a href="{{ url_for('main.blog_edit', id=blog.id) }}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
	<a href="{{ url_for('main.blog_delete', id=blog.id) }}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
	{% endif %}
</p>
{% endif %}
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Comments</h3>
	</div>
	<div id="comments" class="panel-body">
		{% set local = url_for('main.blog', id=blog.id)+'#comments' %}
		{% include "_comments.html" %}
		{% if pagination %}
		<div style="text-align:center">
			{{ macros.pagination_widget(pagination, 'main.blog', '#comments', id=blog.id)}}
		</div>
		{% endif %}
	</div>
</div>
<div class="panel panel-primary {% if not current_user.is_authenticated %}disabled{% endif %}">
	<div class="panel-heading">
		<h3 class="panel-title">Make Your Comment</h3>
	</div>
	<div class="panel-body">
		{% if current_user.is_authenticated %}
		{{ wtf.quick_form(form) }}
		{% else %}
		<p class="text-center">Please Sign In</p>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script type="text/javascript">
var blog_id = '{{ blog.id }}';

$(function(){
	var add_tags = $('#tags');
	add_tags.click(function(e){
		e.preventDefault();
		var new_win = window.open('', '', 'height=400, width=800, top=200, left=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, status=no, location=no');
		new_win.document.write('<html><head><title>New Win</title></head><body><h1></h1><form></form></body></html>');
		var h1 = new_win.document.getElementsByTagName('h1')[0];
		var form = new_win.document.getElementsByTagName('form')[0];
		h1.innerText = 'Choose Tags';
		var btn1 = new_win.document.createElement('button');
		btn1.setAttribute('id', 'btn1');
		btn1.innerText = 'submit';
		$.getJSON('/api/v1.0/blog/'+blog_id+'/tags/get').done(function(data){
			var tags = data;
			for (let t of tags){
				var input = new_win.document.createElement('input');
				input.setAttribute('type', 'checkbox');
				if (t.selected){
					input.setAttribute('checked', 'checked');
				}
				input.setAttribute('value', t.name);
				var label = new_win.document.createElement('label');
				label.innerText = t.name;
				label.appendChild(input);
				form.appendChild(label);
			}
			var p = new_win.document.createElement('p');
			form.appendChild(p);
			form.appendChild(btn1);
		});
		new_win.document.close();
		$(btn1).click(function(event){
			event.preventDefault();
			new_win.close();
			var tags = new_win.document.getElementsByTagName('input');
			var selected_tags = [];
			for (let t of tags){
				if (t.checked){
					selected_tags.push(t.value);
				}
			}
			$.getJSON('/api/v1.0/blog/'+blog_id+'/tags/update', {
				's' : selected_tags.toString()
			}).done(function(data){
				/*var tgs = data;
				var p = $('#tag_labels');
				var tag_labels = $('#tag_labels span');
				tag_labels.remove();
				for (let t of tgs){
					p.append(`<span class="label label-info label-sm"> ${t.name} </span>`);
				}
				*/

				location.assign("{{url_for('main.blog', id=blog.id)}}");
			});
		});
	});
});
</script>
{% endblock %}