{% extends "__base__.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ super() }} - Edit Post{% endblock %}
{% block page_content %}
<div class="page-header">
	<h1>Edit Post</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<div class="col-md-11">
	<div class="post-footer">
		<p>
			<a class="btn btn-danger" href="{{ url_for('main.post_delete', id=post.id)}}">Delete</a>
		{% if current_user.is_administrator() %}
			{% if post.disabled %}
			<a class="btn btn-primary" href="{{ url_for('main.post_enable', id=post.id) }}">Enable</a>
			{% else %}
			<a class="btn btn-danger" href="{{ url_for('main.post_disable', id=post.id) }}">Disable</a>
			{% endif %}
		{% endif %}
		</p>
	</div>
</div>
{% endblock %}