{% extends "__base__.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{ super() }} - Profile{% endblock %}
{% block page_content %}
<div class="page-header">
	<img class="img-rounded" src="{{ user.gravatar() }}">
	<h1>{{ user.user_name }}</h1>
	{% if user.name or user.location %}
	<p>
		{% if user.name %}{{ user.name }}<br>{% endif %}
		{% if user.location %}
		<a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
		{% endif %}
	</p>
	{% endif %}
	{% if user.is_administrator() %}
	<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
	{% endif %}
	{%if user.about_me %}
	<p>{{ user.about_me }}</p>
	{% endif %}
	<p>
		Register At {{ moment(user.register_at).format('L') }}.<br>
		Last Login {{ moment(user.last_login).fromNow() }}.
	</p>
	{% if user.is_administrator() %}
	<p><a href="{{ url_for('main.profile_edit_admin', id=user.id) }}">Profile Edit[Admin]</a></p>
	{% elif user == current_user %}
	<p><a href="{{ url_for('main.profile_edit') }}">Profile Edit</a></p>
	{% endif %}
<div>
<div>
	<p>Posts created by the user:</p>
	{% include "_posts.html" %}
	{% if pagination %}
		{{ macros.pagination_widget(pagination, 'main.profile', username=user.user_name) }}
	{% endif %}
</div>
{% endblock %}